.About{
    background-color:#eeefea;
    color: black;
    height: 77vh;
    padding: 1rem;
    margin: 2rem;
    border: 10px grey;
    border-radius: 30px;
}

.About-container{
    align-items: center;
}

.About-aboutme{
    margin: auto;
    padding-top: 5rem;
    width: 40vw;
    text-align: center;
}
.About-aboutme p{
    font-size: 2rem;
}
.About-links{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
    
}
.About-resume{
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.About-resume h2{
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
}

.About-resume a{
    color: #464646;
}

.About-resume a:hover{
    color: #AAA9A9;
}



/* ipad screen size adjustments */

@media(max-width:  770px ){
    .About-aboutme {
        width: 25rem;
    }
}



/* Screen size for iphone 6/7/8 and anything up to 420 */

@media(max-width:  420px ){
    .About-aboutme{
        width: 70vw;
    }
    .About-aboutme p{
        font-size: 1.25rem;
    }
}