.Contact{
    background-color:#eeefea;
    color: black;
    height: 77vh;
    padding: 5rem;
    margin: 2rem;
    border: 10px grey;
    border-radius: 30px;
}

.Contact-form-container{
    height: 50vh;
    width: 40vw;
    margin: auto;
}

.Contact-form-container span{
    display: flex;
    justify-content: center;
    gap: 1.5em;
}

.Contact-form{
    display: flex;
    flex-direction: column;
    align-items: center;
     gap: 1rem;
     border: 2px solid #929191;
     border-radius: 10px;
     height: 27rem;
     padding-top: 3em;
     margin-top: 2em;
}

.Contact-form input{
width: 40rem;
height: 2.5rem;
border-radius: 7px;
}

.Contact-form textarea{
    width: 40rem;
    height: 9rem;
}


