.Portfolio{
    background-color:#eeefea;
    color: black;
    height: 77vh;
    padding: 5rem;
    margin: 2rem;
    border: 10px grey;
    border-radius: 30px;
}

.Portfolio-container{
    display: flex;
    justify-content: space-evenly;
    padding-top: 2rem;
}





/* ipad PRO width px adjustments */
@media(max-width: 1024px ){
    .Portfolio-container{
        gap: 3rem;
        margin-top: 10rem;
    }

}

/* I'm not actually sure what this is for, but if I remove it things break. */

@media(max-width: 850px ){


    .Portfolio{
        display: flex;
        justify-content: center;

    }
    .Portfolio-container{
        flex-direction: column;
        margin-bottom: 5rem;
    }
    }



    /* regular Ipad adjustments */
    @media(max-width: 770px ){
        .Portfolio{
         height: 90vh;  
        }

        .Portfolio-card{
            height: 25rem;
        }

        .Portfolio-container{
            margin-top: 4em;
        }
    }

    @media(max-width: 420px ){
        .Portfolio{
            height: 85vh;
        }

    }

    @media(max-width: 380px ){
        .Portfolio{
            height: 120vh;
            width: 100vw;
       margin-left: -.03rem;
        }

            
        .Portfolio-container{
            height: 100%;
            margin-top: -2rem;
            gap: 4rem;
        }
    }

    @media(max-width: 320px ){
        .Portfolio{
            width: 100vw;
            margin-left: 1em;
        }

        .page{
            height: 120vh;
            background-image: url('https://images.unsplash.com/photo-1517691748-56ee7506215a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');      
    }

    }
    






    