.Portfolio{
    background-color:#eeefea;
    color: black;
    height: 77vh;
    padding: 5rem;
    margin: 2rem;
    border: 10px grey;
    border-radius: 30px;
}

.Portfolio-container{
    display: flex;
    justify-content: space-evenly;
    padding-top: 2rem;
}





/* ipad PRO width px adjustments */
@media(max-width: 1024px ){
    .Portfolio-container{
        gap: 3rem;
        margin-top: 10rem;
    }

}

/* I'm not actually sure what this is for, but if I remove it things break. */

@media(max-width: 850px ){


    .Portfolio{
        display: flex;
        justify-content: center;

    }
    .Portfolio-container{
        flex-direction: column;
        margin-bottom: 5rem;
    }
    }



    /* regular Ipad adjustments */
    @media(max-width: 770px ){
        .Portfolio{
         height: 90vh;  
        }

        .Portfolio-card{
            height: 25rem;
        }

        .Portfolio-container{
            margin-top: 4em;
        }
    }






    